<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"Event"}) %>
  </head>
  <body>
    <h2>Event</h2>
    <h4>Name: <%= event.name %> </h4>
    <h4>Place_id: <%= event.place_id %> </h4>
    <h4>Group_id: <%= event.group_id %> </h4>
    <h4>Name: <%= event.name %> </h4>
    <h4>Description: <%= event.description %> </h4>
    <h4>Date: <%= event.date_time %> </h4>
    <br>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>