<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"Order"}) %>
  </head>
  <body>
    <h2>Order</h2>
    <h4>Event_id: <%= order.event_id %> </h4>
    <h4>Dish_id: <%= order.dish_id %> </h4>
    <h4>User_id: <%= order.user_id %> </h4>
    <h4>Quantity: <%= order.quantity %> </h4>
    <br>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>