<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"On Flavor"}) %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Edit dish</h2>
        </div>
      </div>
      <div class="row">
        <form action="http://localhost:3000/dishes/edit/<%= dish.id %>" method="post" enctype="application/json" name="dish" class="col-sm-4">
          <div class="form-group">
            <label for="placeid">Place_id:</label>
            <input type="text" id="placeid" name="placeid" value="<%= dish.place_id %>" class="form-control" />
          </div>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= dish.name %>" class="form-control" />
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="price" id="price" name="price" value="<%= dish.price %>" class="form-control" />
          </div>
          <input type="submit" value="Save" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </body>
</html>